// * {
//   margin: 0;
// }

.about-section {
  margin-top: 150px;

  .team-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    background-color: #eef3f500;

    .team-item {
      width: clamp(15rem, calc(22rem + 2vw), 24rem);
      border-radius: 1.5rem;
      background: #206e31;
      text-align: center;
      padding: 1rem;
      margin: 1rem;
      color: white;

      .team-title {
        padding: 1rem;
        h3 {
          font-size: 1.8rem;
        }
      }

      .team-img {
        width: 14rem;
        height: 14rem;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
        margin: 0 auto;
      }

      .team-info {
        margin-top: 10px;
        margin-bottom: 10px;
        .team-icon {
          margin-top: 30px;
          display: flex;
          list-style: none;
          justify-content: space-around;
          padding: 1rem 1rem 0;
          background-color: white;
          border-radius: 2rem;

          li {
            padding: 0.5rem;
            margin: 0 0.5rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #c3d2d6;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 994px) {
  .about-section .team-section {
    display: flex;
    flex-direction: column;
  }
}
